<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <meta charset="UTF-8">
    <title>书城首页</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script src="/static/script/jquery-1.7.2.js"></script>

</head>
<body>

<div id="header">
    <img class="logo_img" alt="" src="static/img/logo.gif" >
    <span class="wel_word">网上书城</span>
    <div>
        <a href="pages/user/login.html">登录</a> |
        <a href="">注册</a> &nbsp;&nbsp;
        <a href="">后台管理</a>
    </div>
</div>

<div id="main">
    <div id="book">
        <div class="book_cond">
            <form action="" method="POST">
                价格：<input type="text" name="min"> 元 -
                <input type="text" name="max"> 元 <button>查询</button>
            </form>
        </div>
        <div style="text-align: center">
            <!-- <span>您的购物车中有3件商品</span> -->
            <div>
                <span style="color: red" id="bookMsg"></span></span>
            </div>
        </div>


        <div class="b_list">
            <div class="img_div">
                <img class="book_img" alt="" src="" />
            </div>
            <div class="book_info">
                <div class="book_name">
                    <span class="sp1">书名:</span>
                    <span class="sp2"></span>
                </div>
                <div class="book_author">
                    <span class="sp1">作者:</span>
                    <span class="sp2"></span>
                </div>
                <div class="book_price">
                    <span class="sp1">价格:</span>
                    <span class="sp2">￥</span>
                </div>
                <div class="book_sales">
                    <span class="sp1">销量:</span>
                    <span class="sp2"></span>
                </div>
                <div class="book_amount">
                    <span class="sp1">库存:</span>
                    <span class="sp2"></span>
                </div>
                <div class="book_add">
                    <button id="" class="addBook2Cart">加入购物车</button>
                </div>
            </div>
        </div>


    </div>

    <div id="page_nav">

        <a href="">首页</a>
        <a href="">上一页</a>
        当前是第页，共页，共条记录
        <a href="">下一页</a>
        <a href="">末页</a>

        到第<input value="" name="pn" id="pn_input"/>页
        <input type="button" value="确定" id="sub">
    </div>
</div>

<div id="bottom">
		<span>
			璃月书城.Copyright &copy;2024
		</span>
</div>
</body>
</html>