<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>璃月书集登录成功</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" >
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }

        h1 a {
            color:red;
        }
    </style>
</head>
<body>
<div id="header">
    <img class="logo_img" alt="" src="/static/img/logo.gif" >
    <div>
        <span>欢迎<span class="um_span">{{.Username}}</span>光临璃月书集</span>
        <a href="/getCartInfo">购物车</a>
        <a href="/getMyOrder">我的订单</a>
        <a href="/logout">注销</a>&nbsp;&nbsp;
        <a href="/main">返回</a>
    </div>
</div>

<div id="main">

    <h1>欢迎回来 <a href="/main">转到主页</a></h1>

</div>

<div id="bottom">
			<span>
				璃月书集.Copyright &copy;2024
			</span>
</div>
</body>
</html>